.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  //   overflow: hidden; /* Prevent scrolling of the body */
  z-index: 10000;
}

.modal {
  background-color: #fff;
  // padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  width: fit-content;
  transform: translate(-50%, -50%); /* Center the modal */
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 22px;

  .close {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    background: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: bolder;
    text-align: center;
  }
}

.noScroll {
  overflow: hidden;
}
